<section id="{{ include.section.element_id }}" class="main style2 {{ include.section.side }} dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>{{ include.section.title }}</h2>
        </header>
        <p>{{ include.section.content }}</p>
    </div>
    {% assign next_element_id_is_not_empty = include.section.next_element_id | is_not_empty %}
    {% if next_element_id_is_not_empty %}
        <a href="#{{ include.section.next_element_id }}" class="button style2 down anchored">Next</a>
    {% endif %}
</section>
